* {
    margin: 0;
    padding: 0;
}

.site-layout-content {
    min-height: 600px;
    padding: 24px;
    background: #fff;
}

.site-layout-content .first {
    height: 400px;
}

.site-layout-content .second {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.site-layout-content .third {
    height: 400px;

}

.site-layout-content .fourth {
    height: 400px;
}

.site-layout-content .fifth {
    display: flex;
    justify-content: center;
    height: 500px;
}