* {
    margin: 0;
    padding: 0;
}

.site-layout-content {
    min-height: 600px;
    padding: 24px;
    background: #fff;
}

.site-layout-content .first {
    display: flex;
    justify-content: center;
}